<% if user.errors.any? %>
    <div id="error_explanation">
    <h2>
        <%= pluralize(user.errors.count, "error" ) %> prohibited this user from being saved:
    </h2>
        <% user.errors.each do |error| %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong><%= error.full_message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% end %>
    </div>
<% end %>