<div class="modal-body">
    <p>
        <strong>Name:</strong>
        <%= user.name %>
    </p>
    <p>
        <strong>Email:</strong>
        <%= user.email %>
    </p>
    <p>
        <strong>Address:</strong>
        <%= user.address %>
    </p>
    <p>
        <strong>Contact:</strong>
        <%= user.contact %>
    </p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary closeModal" data-bs-dismiss="modal">Close</button>
</div>